<div fxLayout="column" fxFlexFill>

  <app-toolbar></app-toolbar>

  <mat-drawer-container fxFlex>
      
    <mat-drawer
      *ngIf="this.authenticationService.isUserLoggedIn()"
      mode="side"
      opened>
      <mat-nav-list>
        <a mat-list-item
          *ngIf="this.authenticationService.isAdminUser()"
          [routerLink]="['/teammanager']">
          <span mat-line i18n="@@ADD_NEW_TEAM_MANAGER">Add new team manager</span>
        </a>
        <a mat-list-item
          *ngIf="this.authenticationService.isAdminUser()"
          [routerLink]="['/referee']">
          <span mat-line i18n="@@ADD_NEW_REFEREE">Add new referee</span>
        </a>
        <a mat-list-item
          *ngIf="this.authenticationService.isAdminUser()"
          [routerLink]="['/tournament']">
          <span mat-line i18n="@@ADD_NEW_TOURNAMENT">Add new tournament</span>
        </a>
        <a mat-list-item
          *ngIf="this.authenticationService.isAdminUser()"
          [routerLink]="['/report']">
          <span mat-line i18n="@@ASSIGN_REFEREE">Assign referee</span>
        </a>
        <a mat-list-item
          *ngIf="this.authenticationService.isTeamManagerUser()"
          [routerLink]="['/players/new']">
          <span mat-line i18n="@@ADD_NEW_PLAYER">Add new player</span>
        </a>
        <a mat-list-item
          *ngIf="this.authenticationService.isRefereeUser()">
          <span mat-line>Referee</span>
        </a>
      </mat-nav-list>
    </mat-drawer>

      <mat-drawer-content>
        <!-- Main content -->
        <div fxFlex fxLayoutAlign="center" style="align-items: center; justify-content: center;">
          <div fxLayout="column" style="margin: auto;">
            <router-outlet></router-outlet>
          </div>
        </div>
      </mat-drawer-content>
  </mat-drawer-container>

</div>
