
<form [formGroup]="userForm" fxLayout="column">
    <mat-form-field appearance="fill">
        <mat-label>
            <ng-container i18n="@@TYPE">Type</ng-container>
        </mat-label>
        <mat-select formControlName="type">
            <mat-option value="SystemAdministrator">System administrator</mat-option>
            <mat-option value="Referee">Referee</mat-option>
            <mat-option value="TeamManager">Team manager</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <mat-label>
            <ng-container i18n="@@NAME">Name</ng-container>
        </mat-label>
        <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>
            <ng-container i18n="@@SURNAME">Surname</ng-container>
        </mat-label>
        <input matInput formControlName="surname">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>
            <ng-container i18n="@@EMAIL">Email</ng-container>
        </mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="userForm.controls['email'].invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>
            <ng-container i18n="@@PASSWORD">Password</ng-container>
        </mat-label>
        <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
</form>

<button *ngIf="!isUpdateMode" (click)="postNewUser()"
    mat-stroked-button color="primary">
    <ng-container i18n="@@ADD">Add</ng-container>
</button>

<button *ngIf="isUpdateMode" (click)="updateUser()"
    mat-stroked-button color="primary">
    <ng-container i18n="@@UPDATE">Update</ng-container>
</button>