<mat-toolbar color="primary" class="mat-elevation-z4">
    <span class="toolbar-text">
        <ng-container i18n="@@APPLICATION_NAME">Soccer Activities Management</ng-container>
    </span>

    <div fxFlex
        fxLayout="row"
        fxLayoutAlign="end center">

        <button *ngIf="this.authenticationService.isAdminUser()"
            mat-button
            class="toolbar-text"
            i18n="@@USERS"
            [routerLink]="['/users']">
            USERS
        </button>

        <button *ngIf="this.authenticationService.isAdminUser()"
            mat-button
            class="toolbar-text"
            i18n="@@REPORTS"
            [routerLink]="['/reports']">
            REPORTS
        </button>

        <button *ngIf="!this.authenticationService.isAdminUser()"
            mat-button
            class="toolbar-text"
            i18n="@@TEAMS"
            [routerLink]="['/teams']">
            TEAMS
        </button>

        <button mat-button
            class="toolbar-text"
            i18n="@@TOURNAMENTS"
            [routerLink]="['/tournaments']">
            TOURNAMENTS
        </button>

        <div *ngIf="this.authenticationService.isUserLoggedIn(); then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <button mat-button [matMenuTriggerFor]="menu" class="toolbar-text"><span class="material-icons">account_circle</span> <span class="material-icons">expand_more</span></button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item
                        [routerLink]="['/admins', this.authenticationService.getUserId()]"
                        i18n="@@DETAILS">
                    Details
                </button>
                <button mat-menu-item
                        (click)="this.authenticationService.logOut()"
                        i18n="@@LOGOUT">
                    Logout
                </button>
            </mat-menu>
        </ng-template>
        <ng-template #elseBlock>
            <button matTooltip="Login"
                mat-icon-button
                [routerLink]="['/login']">
                <mat-icon class="toolbar-text">login</mat-icon>
            </button>
        </ng-template>
    </div>
</mat-toolbar>
