<mat-toolbar color="primary" class="mat-elevation-z4">
    <span class="toolbar-text">
        <ng-container i18n="@@APPLICATION_NAME">Soccer Activities Management</ng-container>
    </span>

    <div fxFlex
        fxLayout="row"
        fxLayoutAlign="end center">

        <button mat-button
            class="toolbar-text"
            i18n="@@TOURNAMENTS"
            [routerLink]="['/tournaments']">
            TOURNAMENTS
        </button>

        <div *ngIf="this.authenticationService.isUserLoggedIn(); then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <button matTooltip="Logout"
                mat-icon-button
                (click)="this.authenticationService.logOut()">
                <mat-icon class="toolbar-text">logout</mat-icon>
            </button>
        </ng-template>
        <ng-template #elseBlock>
            <button matTooltip="Login"
                mat-icon-button
                [routerLink]="['/login']">
                <mat-icon class="toolbar-text">login</mat-icon>
            </button>
        </ng-template>
    </div>
</mat-toolbar>
